{% extends "base.html" %}
{% load detail %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
  <h1>{% block title %}Apel na rektora{% endblock %} Českého vysokého učení technického v Praze</h1>
</div>

<div class="row">
  <div class="container col-md-6 col-xs-12">
    <h2>Informace</h2>

    <ul>
        <li><a href="http://reportermagazin.cz/pan-sibr-tentokrat-na-univerzite/">Rektor zaměstnal odsouzeného podvodníka Miroslava Elfmarka</a>.</li>
        <li>Podle informací <a href="http://reportermagazin.cz/pan-sibr-tentokrat-na-univerzite/">deníku Reportér</a> a <a href="https://notehub.org/oncaw">některých senátorů</a>, se tento podvodník mj. snažil ovlivňovat personální složení organizace, která se stará o menzy a koleje (SÚZ).</li>
        <li>Podle zprávy podivně odvolané ředitelky SÚZ, <a href="https://webshare.cz/#/file/1z5d153c5S/suz-05-16-pdf">se tam velice neefektivně hospodaří</a>.</li>
        <li>Rektor odmítá situaci řádně vysvětlit a <a href="https://aktualne.cvut.cz/sites/aktualne/files/content/33da88ac-7894-489e-854b-0d97f9d5bf2c/en/20161024-vyjadreni-rektora-prof-petra-konvalinky-na-negativni-prezentaci-deni-na-cvut.pdf">mlží</a>.</li>
        <li>Na ČVUT stále pracuje manželka M. Elfmarka <a href="https://usermap.cvut.cz/profile/elfmadar/">Darja</a> a to jako vedoucí odboru pro řízení projektů a transfer technologií, kde se točí nemalé peníze.</li>
        <li><a href="http://marketa039.webnode.cz/stanoviska/">Stanovisko</a> odvolané ředitelky SÚZ.</li>
        <li><a href="http://petr.olsak.net/vyjadreni-cvut.html">Vyjádření</a> předsedy legislativní komise AS ČVUT RNDr. Petra Olšáka (přidáno 3.11. 2016)</li>
    </ul>

    <h2>Petice</h2>

    <p>
      My, níže podepsaní, vyjadřujeme velkou nespokojenost s vystupováním a působením prof. Petra
      Konvalinky, rektora Českého vysokého učení technického v Praze.
      Vyjádření pana rektora na říjnovém zasedání Akademického senátu ČVUT byla vyhýbavá,
      znevažující akademický senát, potažmo celou akademickou obec a místy až dětinská. Pan rektor
      nebyl schopen vyvrátit obvinění směřující na jeho osobu, uspokojivě odpovědět na výzvy fakultních
      akademických senátů ani vyjádřit se k nejasnostem kolem osobních prověrek členů akademické
      obce. Často se pouze odvolával na to, že by jeho odpověď mohla být použita proti němu při
      soudním řízení. Zejména v případě otázky na to, zda proběhla či neproběhla schůzka mezi panem
      rektorem prof. Konvalinkou, bývalým poradcem rektora Ing. Elfmarkem, bývalým kvestorem
      Ing. Pelikánem a bývalou ředitelkou SÚZ Ing. Kabourkovou, považujeme odmítnutí odpovědi
      s odvoláním se na soud za velmi nevhodné. Pan rektor takovým jednáním totiž vytváří pocit, že ke
      schůzce došlo, ale pan rektor ji nechce přiznat. Toto je jediným logickým odůvodněním odvolání se
      na soud namísto prostého popření oné schůzky.
    </p>
    <p>
      Ještě více zarážející je způsob, jakým pan rektor v rozmezí maximálně několika málo hodin či spíše
      minut mění své postoje. To, co v první chvíli striktně odmítne a popře, již za chvíli připouští
      a posléze přiznává. Na základě takovýchto protichůdných vyjádření pana rektora můžeme směle
      tvrdit, že přinejmenším v jednom případě lhal.
    </p>
    <p>
      Všechny tyto postupy jsou v naprostém rozporu s tím, jak o sobě pan rektor tvrdí, že je čestný, vždy
      transparentní a otevřený. V přímém rozporu s transparentností je také mazání příspěvků na
      sociálních sítích a blokování určitých uživatelů v dalším přispívání na profil pana rektora.
    </p>
    <p></p>
    <p>
      Pan rektor vším, co je výše popsáno, znevažuje nejen svoji funkci a osobu, ale také všechny členy
      akademické obce – jak akademické pracovníky, tak studenty – a absolventy ČVUT i celou vysokou
      školu jako takovou. Přitom by právě rektor jako statutární zástupce měl být nejen pro studenty
      vzorem mj. v oblasti etického chování, mravních zásad, schopnosti sebereflexe, otevřenosti
      a transparentnosti.
    </p>
    <p>
      Vyzýváme tedy prof. Petra Konvalinku k rezignaci na funkci rektora. V případě, že pan rektor výzvu
      neuposlechne, vyzýváme Akademický senát ČVUT, aby z důvodu ztráty důvěry navrhl prezidentovi
      České republiky odvolání prof. Petra Konvalinky z funkce rektora ČVUT.
    </p>

    <h2>Papírová petice</h2>
    <p>
      Petici je možné podepsat také v papírové podobě. Můžete přijít v "pracovní době" (ideálně po domluvě) se
      Stanislavem Jeřábkem (<a href="mailto:jerabst1@fit.cvut.cz">jerabst1@fit.cvut.cz</a>) do místnosti 1051 v budově A fakulty stavební,
      podepsat u kteréhokoli jiného "sběrače podpisů" nebo si vytisknout svůj vlastní
      <a href="{% static "apel_rektor_arch.pdf" %}" target="_blank">podpisový arch</a> (stačí druhá strana)
      a podepsaný doručit osobně či skrze podatelnu FIT Stanislavu Jeřábkovi.
    </p>
  </div> 
  <div class="container col-md-6 col-xs-12">
    <h2>Informace o shromáždění</h2>
    <p>
      V souvislosti s peticí je také ohlášeno shromáždění,
      které <a href="https://www.facebook.com/events/338857753172987/" target="_blank">proběhne</a>
      v úterý 8. listopadu od 13 hodin v Zikově ulici, před budovou rektorátu ČVUT.
    </p>

    <h2>Podepsat petici</h2>
    {% if user.is_authenticated %}
      <p>Jste přihlášen(a) jako {{ user.username }}{% if user.get_full_name %} ({{ user.get_full_name }}){% endif %}.
      <a  class="btn btn-xs btn-danger" href="{% url "logout" %}">Odhlásit</a></p>

      {% if user.signature.signed %}
        <form action="{% url 'views.toggle' %}" method="post" id="cancel-form">
          {% csrf_token %}

          <p>Pokud byste si to přál(a), kdykoliv se sem můžete vrátit,
             přihlásit se a <a style="cursor: pointer;"  onclick="document.getElementById('cancel-form').submit();" >svůj podpis zrušit</a>.
             Nezapomeňte podepsat a dále šířit také papírovou petici.</p>
        </form>

        <p>Pomozte nám apel na rektora rozšířit:</p>

        <a href="https://twitter.com/share" class="twitter-share-button" lang="cs"
           data-text="Podepsal jsem apel na rektora @CVUTPraha #cvutsenat" data-hashtags="apelnarektora"
           data-url="https://apelnarektora.cz/">Tweet</a>

        <div id="fb-root"></div>
        <div class="fb-share-button" data-layout="button_count" data-href="https://apelnarektora.cz/"></div>

      {% else %}
        <form action="{% url 'views.toggle' %}" method="post">
          {% csrf_token %}

          <label>Skrýt jméno <input type="checkbox" name="anonymous"></label>

          <p><button type="submit" class="btn btn-lg btn-primary">Podepsat</button></p>
        </form>

      {% endif %}
    
    {% else %}
      {% if is_http %}
        <div class="alert alert-warning">
          Počkejte, prosím, pár hodin, kvůli staré DNS konfiguraci Vám nepůjde přihlášení.
        </div>
      {% else %}
        <p>
          <a href="{% url 'social:begin' 'fit' %}" class="btn btn-lg btn-primary">Přihlásit se přes ČVUT účet</a>
        </p>
      {% endif %}

      {% if badroles %}
        <p>Podle Usermapu nejste student ani akademický pracovník ČVUT.
           Pokud si myslíte, že je to špatně, kontaktujte nás přes GitLab (odkaz je v&nbsp;patičce).</p>
      {% endif %}
    {% endif %}

    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    
    <h2>Podepsaní ({{ total }})</h2>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Člen(ka) akademické obce ČVUT</th>
          <th>Podepsal(a)</th>
        </tr>
      {% for signature in signatures %}
        <tr>
          <td>
            {% if not signature.anonymous %}
              {{ signature.user|detail }}
            {% else %}
              {{ signature.user|anonymous_detail }}
            {% endif %}
            {% if show_faculty %}
              {{ signature.user|faculties }}
            {% endif %}

          </td>
          <td>{{ signature.timestamp }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="2">Nikdo to ještě nepodepsal. Je na čase to změnit.</td><tr>
      {% endfor %}
      </table>
    </div>
    
    {% if signatures.paginator.num_pages > 1 %}
    <ul class="pagination">
      <li{% if not signatures.has_previous %} class="disabled"{% endif %}>
        <a{% if signatures.has_previous %} href="?page={{ signatures.previous_page_number }}"{% endif %}>&laquo;</a>
      </li>
      {% for num in signatures.paginator.page_range %}
        {% ifequal num signatures.number %}
          <li class="active"><a>{{ num }}<span class="sr-only">(current)</span></a></li>
        {% else %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endifequal %}
      {% endfor %}
      <li{% if not signatures.has_next %} class="disabled"{% endif %}>
        <a{% if signatures.has_next %} href="?page={{ signatures.next_page_number }}"{% endif %}>&raquo;</a>
      </li>
    </ul>
    {% endif %}

    {% comment %}<p style="text-align: center;">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/apelnarektora"
         data-widget-id="793375687994437632" lang="cs">
        #apelnarektora Tweets
      </a>
    </p>{% endcomment %}

  </div>   
</div>  
{% endblock %}

{% block scripts %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&appId=855997864419145&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
